.search-wrap {
    padding-top: 13px;
    @media (min-width: 500px) {
        padding-top: 20px;
    }
    @include flexbox();
    @include flex-direction(row);
    @include align-self(center);
    @include justify-content(space-between);
    left: 5%;
    right: 5%;
    width: 90%;
    .add-button {
        span {
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            @include transition(all .3s ease-in-out);
            height: 25px;
            width: 60px;
            @media(min-width: 500px) {
                width: 80px;
                height: 30px;
            }
            background-color: #6992f9;
            color: #fff;
            font-size: 0.7rem;
            font-weight: 600;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            @include box-shadow(0px 2px 3px 0px rgba(0, 0, 0, 0.08));
            @include hover() {
                @include box-shadow(0px 2px 2px 0px rgba(0, 0, 0, 0.1));
                background-color: #5b86dd;
            }
        }
    }
}
.input-wrap {
    @include flexbox();
    @include flex-direction(column);
    width: 200px;
    @media (min-width: 500px) {
        width: 400px;
    }
    input {
        padding: 0 10px;
        height: 25px;
        @media (min-width: 500px) {
            height: 30px;
        }
        @include transition(all .3s ease-in-out);
        border: none;
        border-radius: 5px;
        background-color: #acb9e8;
        @include box-shadow(0px 2px 3px 0px rgba(0, 0, 0, 0.08));
        @include hover() {
            @include box-shadow(0px 2px 2px 0px rgba(0, 0, 0, 0.1));
            background-color: #cbd7f7;
        }
    }
    .active {
        outline: none;
        background-color: #fff;
        @include box-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.13));
        @include hover() {
            background-color: #fff;
        }
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      font-weight: 500;
      opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
      font-weight: 500;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
      font-weight: 500;
    }
}
